<div class="container">
  <div class="container row imageShower mt-2">
    <div class="col-sm-6 col-md-6">
      <img src="" alt="" id="c1" class="col-sm-1 col-md-2" />
      <img src="" alt="" id="c2" class="col-sm-1 col-md-2" />
      <img src="" alt="" id="c3" class="col-sm-1 col-md-2" />
    </div>
    <div class="col-sm-6 col-md-6">
      <img src="" alt="" id="c4" class="col-sm-1 col-md-2" />
      <img src="" alt="" id="c5" class="col-sm-1 col-md-2" />
      <img src="" alt="" id="c6" class="col-sm-1 col-md-2" />
    </div>
  </div>
  <div class="result"></div>
  <a href="/"><button class="btn btn-outline-dark none reset">RESET</button></a>
</div>
<!-- <script src="JS-logic/index.js"></script> -->
